extends layout

block content
  h1= title 
  p Welcome to #{title}
  - var results = [{shade:"Orange", cost: 15.0, size:"Compact"},{shade:"Blue", cost: 30.0, size:"Mid-size"},{shade:"Red", cost: 60.0, size:"Full-size"}]
   div(class="container-fluid")
    div(class="row" )
     each res,index in results
      div(class="col-sm-4" onclick=`buy(${index})`) shade : #{res.shade} , price : #{res.cost} , size : #{res.size} 
  script.
   let itemNumber=0                
        function buy(itemNumber)
        {
            //for index in results
             alert(`you purchased Item ${itemNumber+1}`)
        }